<h1 style="font-size: 2.6em; color: #008080; border-bottom: 4px solid #006666; padding-bottom: 15px; margin-bottom: 30px; font-weight: 700; text-shadow: 1px 1px 2px rgba(0,0,0,0.1);">
  1. Data Loading and Initial Inspection 📊
</h1>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("AB_NYC_2019.csv")

In [3]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9,2018-10-19,0.21,6,365.0
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45,2019-05-21,0.38,2,355.0
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150.0,3.0,0,NaN,NaN,1,365.0
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270,2019-07-05,4.64,1,194.0
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9,NaN,NaN,1,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       46430 non-null  object
 4   neighbourhood_group             47917 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       47428 non-null  object
 9   price                           47917 non-null  float64
 10  minimum_nights                  48406 non-null  float64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     34962 non-null  object
 13  reviews_per_month               34962 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48406 non-null  float64
dtypes: float64(6), int64(4), object(6)
memory usage: 6.0+ MB

In [5]:
df.shape

(48895, 16)

In [6]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,47917.000000,48406.000000,48895.000000,34962.000000,48895.000000,48406.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.567189,7.041235,23.274466,1.375617,7.143982,112.719436
std,1.098311e+07,7.861097e+07,0.054530,0.046157,238.457325,20.584568,44.550582,1.676428,32.952519,131.625467
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [7]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                          2465
neighbourhood_group                 978
neighbourhood                         0
latitude                              0
longitude                             0
room_type                          1467
price                               978
minimum_nights                      489
number_of_reviews                     0
last_review                       13933
reviews_per_month                 13933
calculated_host_listings_count        0
availability_365                    489
dtype: int64

In [8]:
df.nunique()

id                                48895
name                              47905
host_id                           37457
host_name                         11129
neighbourhood_group                   5
neighbourhood                       221
latitude                          19048
longitude                         14718
room_type                             3
price                               671
minimum_nights                      108
number_of_reviews                   394
last_review                        1731
reviews_per_month                   915
calculated_host_listings_count       47
availability_365                    366
dtype: int64

In [9]:
missing_percent = df.isnull().mean() * 100
missing_percent = missing_percent[missing_percent > 0].sort_values(ascending=False)

print(missing_percent)

reviews_per_month      28.495756
last_review            28.495756
host_name               5.041415
room_type               3.000307
price                   2.000205
neighbourhood_group     2.000205
minimum_nights          1.000102
availability_365        1.000102
name                    0.032723
dtype: float64


<h1 style="font-size: 2.6em; color: #008080; border-bottom: 4px solid #006666; padding-bottom: 15px; margin-bottom: 30px; font-weight: 700; text-shadow: 1px 1px 2px rgba(0,0,0,0.1);">
  2. Handling Missing Values
</h1>

In [10]:
df['name'] = df['name'].fillna('Unnamed')

<div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f0f8ff; color: #2e3d49; padding: 20px; border-radius: 10px; border-left: 6px solid #007acc; margin-top: 40px; box-shadow: 0 4px 12px rgba(0, 122, 204, 0.12);">

  <h2 style="font-size: 1.8em; color: #007acc; margin-bottom: 12px;">
    Handling Missing Names
  </h2>

  <p style="font-size: 1.05em; line-height: 1.6;">
    The <strong>name</strong> column refers to the listing title. Filling missing names with <strong>"Unnamed"</strong> keeps the dataset consistent without losing records, and clearly indicates that a name was originally not provided.
  </p>

</div>

In [11]:
df['host_name'] = df['host_name'].fillna('Unknown_host')

<div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #fffaf0; color: #3c2f1c; padding: 20px; border-radius: 10px; border-left: 6px solid #ff9800; margin-top: 30px; box-shadow: 0 4px 12px rgba(255, 152, 0, 0.12);">

  <h2 style="font-size: 1.8em; color: #ff9800; margin-bottom: 12px;">
    🔎 Reason: Handling Missing Host Names
  </h2>

  <p style="font-size: 1.05em; line-height: 1.6;">
    The <strong>host_name</strong> column identifies the name of the person hosting the listing. Replacing missing values with <strong>"Unknown_host"</strong> ensures the data remains complete while clearly marking entries with missing host names.
  </p>

</div>

In [12]:
df['neighbourhood_group'] = df['neighbourhood_group'].fillna(df['neighbourhood_group'].mode()[0])

<div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f0fff4; color: #1e4d2b; padding: 20px; border-left: 5px solid #38a169; border-radius: 8px; box-shadow: 0 2px 6px rgba(0, 128, 0, 0.1); margin-top: 30px;">

  <h2 style="font-size: 1.8em; margin-bottom: 15px; color: #276749;">
    🧩 neighbourhood_group Column Imputation
  </h2>


  <p style="margin-top: 10px;">
    🔎 <strong>Reason:</strong><br>
    Since <code>neighbourhood_group</code> is a categorical variable, filling missing values with the <strong>mode</strong> (most frequent group) is a standard and reliable method. It maintains consistency in the dataset without introducing any new or artificial categories unless necessary.
  </p>

</div>

In [13]:
df['room_type'] = df['room_type'].fillna(df['room_type'].mode()[0])

<div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f0fff4; color: #1e4d2b; padding: 20px; border-left: 5px solid #38a169; border-radius: 8px; box-shadow: 0 2px 6px rgba(0, 128, 0, 0.1); margin-top: 30px;">

  <h2 style="font-size: 1.8em; margin-bottom: 15px; color: #276749;">
    🧩 room_type Column Imputation
  </h2>

  <p style="margin-top: 10px;">
    🔎 <strong>Reason:</strong><br>
    <code>room_type</code> is a categorical column, and using the most frequent value helps fill in missing entries logically. This prevents data loss and maintains the natural distribution of room categories.
  </p>

</div>

In [14]:
df['price'] = df['price'].fillna(df['price'].median())

<div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #fff5f5; color: #7b241c; padding: 20px; border-left: 5px solid #e74c3c; border-radius: 8px; box-shadow: 0 2px 6px rgba(255, 0, 0, 0.1); margin-top: 30px;">

  <h2 style="font-size: 1.8em; margin-bottom: 15px; color: #c0392b;">
    💰 price Column Imputation
  </h2>


  <p style="margin-top: 10px;">
    🔎 <strong>Reason:</strong> Median handles outliers better than mean in skewed price distributions.
  </p>

  <p>
    💡 <strong>Tip:</strong> For better accuracy, try KNN or regression-based imputation using features like <code>room_type</code> or <code>neighbourhood</code>.
  </p>

</div>

In [15]:
df['minimum_nights'] = df['minimum_nights'].fillna(df['minimum_nights'].median())

<div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f5fff8; color: #196f3d; padding: 20px; border-left: 5px solid #28b463; border-radius: 8px; box-shadow: 0 2px 6px rgba(0, 128, 0, 0.1); margin-top: 30px;">

  <h2 style="font-size: 1.8em; margin-bottom: 15px; color: #239b56;">
    🛏️ minimum_nights Column Imputation
  </h2>


  <p style="margin-top: 10px;">
    🔎 <strong>Reason:</strong> Median reduces the effect of outliers like long stays and gives a more typical value.
  </p>

</div>

In [16]:
df['availability_365'] = df['availability_365'].fillna(df['availability_365'].median())

<div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f9f9ff; color: #1a237e; padding: 20px; border-left: 5px solid #3f51b5; border-radius: 8px; box-shadow: 0 2px 6px rgba(63, 81, 181, 0.1); margin-top: 30px;">

  <h2 style="font-size: 1.8em; margin-bottom: 15px; color: #303f9f;">
    📅 availability_365 Column Imputation
  </h2>

  
  <p style="margin-top: 10px;">
    🔎 <strong>Reason:</strong> Median provides a stable estimate across varied listing availabilities.
    If missing implies not available, consider using <code>0</code> instead.
  </p>

</div>

<div style="background-color: #f9f9f9; border-left: 4px solid #4CAF50; padding: 12px; margin: 10px 0; color: #1a1a1a;">
  <h4 style="color: #4CAF50; margin: 0;">✅ Task:</h4>
  <p style="margin: 6px 0;">
    For rows where <code>last_review</code> is missing (<code>NaN</code>) and <code>number_of_reviews &gt; 0</code>, fill <code>last_review</code> with a random realistic date based on existing non-missing <code>last_review</code> values (e.g., from the most frequent or typical range).
  </p>
  <p style="margin: 6px 0;">
    Leave the rest (<code>number_of_reviews == 0</code>) unchanged.
  </p>
</div>

In [17]:
import numpy as np

# Ensure last_review is in datetime format
df['last_review'] = pd.to_datetime(df['last_review'], errors='coerce')

# Filter non-null last_review values to sample from
valid_dates = df['last_review'].dropna()

# Condition: missing last_review AND number_of_reviews > 0
mask = df['last_review'].isna() & (df['number_of_reviews'] > 0)

# Randomly assign from existing valid dates
df.loc[mask, 'last_review'] = np.random.choice(valid_dates, size=mask.sum())

In [18]:
df.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 13933
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [19]:
zero_reviews_count = (df['number_of_reviews'] == 0).sum()
print("Number of listings with 0 reviews:", zero_reviews_count)

Number of listings with 0 reviews: 10052

<div style="background-color: #f9f9f9; border-left: 4px solid #2196F3; padding: 12px; margin: 10px 0; color: #1a1a1a;">
  <h4 style="color: #2196F3; margin: 0;">✅ Reason:</h4>
  <p style="margin: 6px 0;">
    We should not fill the remaining missing values in the <code>last_review</code> column because their corresponding <code>number_of_reviews</code> is 0, which logically means that the listing has never been reviewed.
  </p>
  <p style="margin: 6px 0;">
    Since no review has ever been submitted for these listings, there is no valid "last review date" to assign. Filling <code>last_review</code> in such cases would introduce inaccurate and misleading data, suggesting that a review exists when it doesn't.
  </p>
  <p style="margin: 6px 0;">
    Therefore, leaving these entries as <code>NaN</code> preserves the factual integrity of the dataset.
  </p>
</div>

In [20]:
# First, calculate median only from non-null values
median_reviews_per_month = df['reviews_per_month'].median()

# Fill where number_of_reviews == 0 → 0.0
df.loc[df['number_of_reviews'] == 0, 'reviews_per_month'] = 0.0

# Fill the rest (number_of_reviews > 0 and still null) → median
df['reviews_per_month'] = df['reviews_per_month'].fillna(median_reviews_per_month)



<h1 style="font-size: 2.6em; color: #008080; border-bottom: 4px solid #006666; padding-bottom: 15px; margin-bottom: 30px; font-weight: 700; text-shadow: 1px 1px 2px rgba(0,0,0,0.1);">
  3. Post-Cleaning Verification
</h1>

In [21]:
df.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [22]:
df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                           float64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                         float64
dtype: object


<h1 style="font-size: 2.6em; color: #008080; border-bottom: 4px solid #006666; padding-bottom: 15px; margin-bottom: 30px; font-weight: 700; text-shadow: 1px 1px 2px rgba(0,0,0,0.1);">
  Dataset Overview
</h1>

In [23]:
df.shape

(48895, 16)

In [24]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843,48895.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,151.635750,7.000818,23.274466,2018-10-04 18:35:59.277089536,1.040774,7.143982,112.042172
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,2011-03-28 00:00:00,0.000000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,70.000000,1.000000,1.000000,2018-07-15 00:00:00,0.050000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,2019-05-19 00:00:00,0.460000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2019-06-23 00:00:00,1.360000,2.000000,223.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,2019-07-08 00:00:00,58.500000,327.000000,365.000000
std,1.098311e+07,7.861097e+07,0.054530,0.046157,236.150432,20.485321,44.550582,NaN,1.523345,32.952519,131.138841

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48895 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48895 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  float64
 10  minimum_nights                  48895 non-null  float64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  datetime64[ns]
 13  reviews_per_month               48895 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(4), object(5)
memory usage: 6.0+ MB

In [26]:
df.nunique()

id                                48895
name                              47906
host_id                           37457
host_name                         11130
neighbourhood_group                   5
neighbourhood                       221
latitude                          19048
longitude                         14718
room_type                             3
price                               671
minimum_nights                      108
number_of_reviews                   394
last_review                        1731
reviews_per_month                   916
calculated_host_listings_count       47
availability_365                    366
dtype: int64

In [27]:
df.duplicated().sum()

np.int64(0)

In [28]:
df.to_csv("AB_NYC_Cleaned.csv",index=False)

<div style="background-color: #f4f6f8; border-left: 4px solid #4caf50; padding: 12px; margin: 10px 0; color: #1a1a1a;">
  <h3 style="color: #4caf50; margin: 0;">📝 Conclusion (Data Cleaning & Manipulation)</h3>
  <ul style="margin: 10px 0 0 20px; padding: 0; list-style-type: disc;">
    <li>Performed thorough data cleaning and preprocessing on the NYC Airbnb dataset.</li>
    <li>Handled missing values using appropriate strategies:
      <ul style="list-style-type: circle; margin-top: 5px;">
        <li><strong>Mode</strong> for categorical columns.</li>
        <li><strong>Median</strong> for numerical columns with skewed distributions.</li>
        <li><strong>Conditional filling</strong> based on related features.</li>
      </ul>
    </li>
    <li>Maintained logical integrity by preserving <code>NaN</code> values where they represent meaningful absence (e.g., no reviews).</li>
    <li>Verified and corrected data types for consistency.</li>
    <li>Engineered useful features for downstream analysis.</li>
    <li>Ensured the dataset is now clean, consistent, and ready for insightful exploration in the EDA phase.</li>
  </ul>
</div>